* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.left-indent {
  padding-left: 275px;
}

.button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 50px;
  line-height: 25px;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  cursor: pointer;
}

.body {
  background: #FFF;
}

/* Header */

.header {
  height: 980px;
}

.navbar {
  height: 85px;
  border-bottom: 1px #D6D6D6 solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-list {
  margin-left: 173px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navigation-list li + li {
  margin-left: 72px;
}

.navigation-list a {
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}

.navigation-btn {
  margin-left: 283px;
}

.navigation-btn a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-right: 31px;
  text-decoration: none;
}

.navigation-btn button {
  padding: 13px 50px;
}

.headline-bg {
  height: 895px;
  background: linear-gradient(112.58deg, #FFFFFF 18.15%, rgba(255, 255, 255, 0) 53.07%, rgba(0, 0, 0, 0.1)), url("./images/Main.png");
  background-position: right;
  background-repeat: no-repeat;
}

.headline {
  padding-top: 175px;
}

.headline-title {
  font-family: 'Georgia';
  font-style: bold;
  font-size: 65px;
  line-height: 74px;
  color: #01996D;
  margin-bottom: 30px;
}

.headline-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
  margin-bottom: 47px;
}

/* Block One */

.block-one {
  height: 1606px;
  padding: 169px 232px 51px 275px;
}

.block-one-wrapper {
  height: 1386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-one-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #424242;
}

.box-one-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-one-text1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;
  color: #01996D;
}

.box-one-text2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

.box-wrapper {
  height: 1146px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 225px;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.box-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.box-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

.box-two {
  width: 392px;
  background-image: url('./images/first_block/Laptop-Image.png'), url('./images/first_block/Laptop.png');
  background-position: right 675px, center 450px;
  background-repeat: no-repeat, no-repeat;
}

.box-two span{
  position: absolute;
}

.box-two h1 {
  margin: 137px 121px 55px 90px;
}

.box-three {
  width: 399px;
  background-image: url('./images/first_block/Book.png');
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 293px;
}

.box-three span {
  position: absolute;
}

.box-three h1 {
  margin: 133px 0 58px 86px;
}

.box-four {
  width: 441px;
  background-image: url('./images/first_block/Girl.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-position-y: 418px;
  padding-top: 54px;
}

.box-four span {
  position: absolute;
}

.box-four h1 {
  margin: 130px 182px 46px 86px;
}

/*  Block Two */

.block-two {
  height: 922px;
  background: #245852;
  padding: 229px 206px 177px 207px;
}

.block-two-wrapper {
  height: 516px;
  width: 1507px;
  display: flex;
  justify-content: space-between;
}

.block-two-headline {
  margin-top: 81px;
}

.block-two-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;
  color: #FFFFFF;
}

.block-two-text {
  margin-top: 33px;
  margin-bottom: 57px;

  font-family: 'Lato';
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  color: #FFFFFF;
}

.block-two-video {
  width: 896px;
  background: url('./images/icons/Play.svg'), url('./images/second_block/Video.png'), rgb(0, 0, 0, .2);
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

/* Thrird Block */

.block-three {
  height: 936px;
  padding: 120px 275px 168px;
}

.block-three-wrapper {
  height: 648px;

  display: flex;
  justify-content: space-between;
  padding-left: 60px;
}

.block-three-photo {
  width: 639px;
  height: 573px;
  background: rgb(1, 153, 109, 0.2);
  background-image: url('./images/third_block/Girl.png');
  background-position: 46%;
  background-repeat: no-repeat;
  border-radius: 18.1125px;
}

.block-three-card {
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  width: 296px;
  height: 294px;
  left: 275px;
  top: 3983px;
  filter: drop-shadow(0px 3px 18px rgba(165, 165, 165, 0.25));

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14.49px;
  line-height: 23px;
  text-align: center;
  color: #000000;

  margin-bottom: 7.67px;
  margin-top: 22.6px;
}

.avatar-name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #000000;

  margin-bottom: 20.2px;
}

.card-divider {
  width: 110px;
  border: 0.7px solid #000000;
  margin-bottom: 13.7px;
}

.avatar {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: rgba(1, 153, 109, 0.2);
  background-image: url('./images/third_block/Girl_Avatar.png');

  margin-bottom: 10.4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15.9292px;
  line-height: 25px;
  color: #000000;
}

.content-list {
  list-style-type: none;
}

.content-list li {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 10.6195px;
  line-height: 17px;
  color: #000000;
  margin: 16px 0;
}

.content-list li::before {
  content: "•";
  margin-right: 3px;
}

.block-three-message {
  width: 584px;
  height: 413px;
}

.block-three-message-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  color: #424242;

  margin-bottom: 10px;
}

.block-three-message-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;
  color: #01996D;

  margin-bottom: 20px;
}

.block-three-message-text2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;

  margin-bottom: 35px;
}

/* Footer */

.footer {
  height: 654px;
  background-color: #245852;
  display: flex;
}

.footer-nav-wrapper {
  padding-top: 95px;
  padding-bottom: 144px;
}

.footer-nav-list li+li {
  margin-top: 60px;
}

.footer-nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-nav-list p {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
}

.footer-nav-list a {
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-social {
  padding: 530px 0 38px 346px;
  margin-right: 287px;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.facebook {
  width: 83px;
  height: 77px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url('./images/icons/Facebook.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.instagram {
  width: 83px;
  height: 77px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-image: url('./images/icons/Instagram.svg'), conic-gradient(from 180deg at 50% 50%, 
  #80A4CE 0deg, 
  #F289AA 60deg, 
  #C68BF0 106.09deg, 
  #D164DA 153.75deg, 
  #C963E8 221.25deg, 
  #BFC2E8 258.75deg, 
  #FFC999 288.75deg, 
  #D0D8C9 315deg, 
  #BAD0F1 334.13deg,
  #CED8CB 358.97deg, 
  rgba(255, 255, 255, 0) 360deg);
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  width: 83px;
  height: 77px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url('./images/icons/Twitter.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-media {
  padding-top: 464px;
  display: flex;
  flex-direction: column;
}

.footer-media-text {
  padding-left: 131px;
}

.footer-media-text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.footer-media-store {
  display: flex;
  gap: 14px;
}

.google-play {
  width: 213px;
  height: 65px;
  background: #080809;
  border-radius: 17.5px;
  background-image: url('./images/icons/Google_logo.svg'), 
  url('./images/icons/Google.svg');
  background-repeat: no-repeat;
  background-position: 15%, 80%;
}

.app-store {
  width: 208px;
  height: 65px;
  background: #080809;
  border-radius: 17.5px;
  background-image: url('./images/icons/Apple_logo.svg'),
  url('./images/icons/AppStore.svg');
  background-repeat: no-repeat;
  background-position: 15%, 75%;
}
